[{riak_sysmon,
     [{busy_dist_port,true},
      {busy_port,true},
      {port_limit,2},
      {process_limit,30},
      {gc_ms_limit,0},
      {schedule_ms_limit,0},
      {heap_word_limit,20055500}]},
 {riak_core,
     [{vnode_management_timer,10000},
      {use_background_manager,false},
      {enable_consensus,false},
      {platform_log_dir,"./log"},
      {platform_lib_dir,"./lib"},
      {platform_etc_dir,"../quantumdb_config"},
      {platform_data_dir,"../quantumdb_data"},
      {platform_bin_dir,"./bin"},
      {dtrace_support,false},
      {disable_inbound_handoff,false},
      {disable_outbound_handoff,false},
      {handoff_port,8299},
      {handoff_ip,"127.0.0.1"},
      {ring_state_dir,"../quantumdb_data/ring"},
      {handoff_concurrency,2},
      {ring_creation_size,64},
      {default_bucket_props,[{n_val,3}]},
      {schema_dirs,["share/schema"]}]},
 {eleveldb,
     [{compression,true},
      {fadvise_willneed,false},
      {eleveldb_threads,71},
      {verify_compaction,true},
      {verify_checksums,true},
      {block_size_steps,16},
      {block_restart_interval,16},
      {sst_block_size,4096},
      {block_cache_threshold,33554432},
      {use_bloomfilter,true},
      {write_buffer_size_max,62914560},
      {write_buffer_size_min,31457280},
      {limited_developer_mem,false},
      {sync,false},
      {total_leveldb_mem_percent,70},
      {data_root,"../quantumdb_data/leveldb"},
      {delete_threshold,1000},
      {tiered_slow_level,0}]},
 {quantumdb,
     [{session_duration_secs,86400},
      {cors_max_age_secs,60},
      {cors_enabled,false},
      {https_acceptors,100},
      {https_port,8443},
      {https_enabled,false},
      {http_acceptors,100},
      {http_port,8080},
      {http_enabled,true},
      {cors_origins,any},
      {auth_secret,<<"changeme">>}]},
 {sasl,
     [{sasl_error_logger,{file,"log/sasl-error.log"}},
      {errlog_type,error},
      {error_logger_mf_dir,"log/sasl"},
      {error_logger_mf_maxbytes,10485760},
      {error_logger_mf_maxfiles,5}]},
 {lager,
     [{handlers,
          [{lager_console_backend,info},
           {lager_file_backend,
               [{file,"error.log"},
                {level,error},
                {size,10485760},
                {date,"$D0"},
                {count,5}]},
           {lager_file_backend,
               [{file,"console.log"},
                {level,info},
                {size,10485760},
                {date,"$D0"},
                {count,5}]}]}]}].
